
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="content">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
        <nav *ngIf="router.url.substring(0,6) != '/login'">
            <aside class="left-sidebar">
                <div class="panelbar-wrapper">
                    <kendo-panelbar (stateChange)="stateChange($event)">
                        <kendo-panelbar-item [title]="'Home'"></kendo-panelbar-item>
                        <kendo-panelbar-item [title]="'Items'"></kendo-panelbar-item>
                        <kendo-panelbar-item [title]="'Logout'" expanded="false"></kendo-panelbar-item>
                    </kendo-panelbar>
                </div>
            </aside>
        </nav>
    </div>
</div>


  


